@charset "UTF-8";

.sub_box {
    display: flex;
    align-items: stretch;
    min-height: 500px;
}

.sub_left {
    width: 80%;
    padding-right: 32px;
}

.sub_right {
    width: 20%;
    background: blue;
}

.content_box {
    padding: var(--padding-md) 0;
}

#sub_book {
    display: flex;
    width: 100%;
}

/* sub_book */
.sub_book_left {
    width: 204px;
}

.sub_book_img {
    height: 306px;
    background: #444;
    margin-bottom: 10px;
}

.sub_book_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub_book_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-lg);
    align-items: flex-start;
    padding-left: 32px;
}

.sub_book_tit {
    font-size: var(--font-xl);
}

.sub_book_detail {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-base);
    align-items: flex-start;
}

.sub_txt_list {
    display: flex;
}

.sub_txt_list li {
    font-size: var(--font-sm);
    color: var(--color-text-sub);
}

.sub_txt_list li:not(:last-child):after {
    content: '|';
    display: inline-block;
    color: var(--color-gray);
    margin: 0 4px;
    font-weight: 400;
}

.sub_txt_list li a {
    font-size: inherit;
    color: inherit;
    font-weight: 600;
}

.sub_txt_list li i {
    font-size: 10px;
    vertical-align: middle;
}

.sub_txt_list li .book_star {
    color: var(--color-red);
}

.sub_book_event {
    width: 100%;
}

.sub_book_event dl {
    display: flex;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}

.sub_book_event dl dt {
    width: 12%;
    padding: 8px;
}

.tag {
    font-size: 12px;
    font-weight: 600;
    background-color: #E3E0EE;
    color: #605BAF;
    padding: 3px 5px;
    border-radius: 2px;
}

.sub_book_event dl dd {
    flex: 1;
}

.sub_book_event dl dd ul li {
    position: relative;
    border-bottom: 1px solid var(--color-gray);
    padding: 8px 20px 8px 0;
    font-weight: 700;
}

.sub_book_event dl dd ul li:last-of-type {
    border-bottom: none;
}

.sub_book_event dl dd ul li i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--color-text-sub);
}

.sub_book_price {
    width: 100%;
    display: flex;
    align-items: stretch;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}

.price_left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 600;
    background-color: var(--color-gray-light);
}

.price_right {
    flex: 1;
    padding: 10px 0;
}

.price_right dl {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: var(--font-sm);
}

.price_right dl dt {
    color: var(--color-text-sub);
}

.price_right dl dd.sale_price {
    color: var(--color-primary);
}

/* 버튼 */
.btns {
    display: flex;
    gap: var(--gap-base);
    width: 100%;
    padding: 10px;
}

.justify_end {
    justify-content: flex-end;
}

.btnS1 {
    font-family: 'Pretendard';
    background: white;
    border: 1px solid var(--color-gray);
    padding: 16px 18px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-text-sub);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btnS1.wide {
    width: 100%;
    max-width: 227px;
}

.btnS1.blue {
    border: 1px solid var(--color-primary);
    color: #fff;
    background: var(--color-primary);
}

.btnS2 {
    font-family: 'Pretendard';
    background: white;
    border: 1px solid var(--color-primary);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btnS3 {
    font-family: 'Pretendard';
    background: #fff;
    border: 1px solid var(--color-gray-darker);
    color: var(--color-text-sub);
    padding: 6px 14px;
    border-radius: 4px;
    font-size: var(--font-sm);
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

btnS3.gray {
    background: var(--color-gray-darker);
    color: #fff;
}

/* 텝 */
.tab_section {
    margin: 0 auto;
    position: relative;
}

.tab_see_more {
    height: 360px;
}

.tab_menu {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.tab_menu li {
    width: 50%;
    line-height: 60px;
    border: 1px solid #aaa;
    border-top: 2px solid #222;
    background-color: var(--color-gray-light);
    text-align: center;
    border-right: none;
    font-size: 18px;
    font-weight: 700;
}

.tab_menu li:first-child {
    border-left: none;
}

.tab_menu li.active {
    background-color: #fff;
    border-bottom: 1px solid transparent
}

.tabcontent {
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #fff;
    border-top: 1px solid #aaa;
    overflow: hidden;
    display: none;
    padding: 20px 0 80px;
}

.tab_see_more .tabcontent {
    height: 300px;
}

.tabcontent:first-of-type {
    display: block;
}

.tabcontent .see_more_btn {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
}

.tabcontent .see_more_btn::before {
    content: '';
    display: block;
    width: 100%;
    height: 160px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}

.tabcontent .see_more_btn.show::before {
    display: none;
}

.tabcontent .see_more_btn button {
    width: 100%;
    height: 60px;
    font-weight: 700;
    background: #fff;
    border: 1px solid var(--color-text-sub);
    border-radius: 4px;
    font-size: var(--font-base);
}

#book_author_box .tabcontent {
    height: auto;
    overflow: visible;
    padding: 20px 0 0;
}


/* content_box */
.sub_book_name {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.sub_author_name {
    margin-right: 10px;
}

.txt_file {
    font-size: 15px;
}

.txt_file p:not(:last-of-type) {
    margin-bottom: 30px;
}

.listS1 li {
    display: flex;
    gap: var(--gap-base);
    line-height: 1.7;
}

.listS1 li div:first-of-type {
    font-weight: 600;
    color: var(--color-text-sub);
}

/* 슬라이드 */
.book_slide {
    position: relative;
}

.book_slide .more_btn {
    right: 0;
}

#book_slide1 {
    margin-top: var(--padding-md);
}

#book_slide1 .swiper .swiper-slide {
    display: block;
    justify-content: space-between;
}

#book_slide1 .swiper-button-next,
#book_slide1 .swiper-button-prev {
    top: 100px;
}

#book_slide1 .main_title {
    font-size: 18px;
}


/* 리뷰 */
.stars_result_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: var(--padding-sm);
}

.stars_result_left {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.stars_result {
    font-size: 48px;
    font-weight: 600;
}

.stars_box p {
    margin-top: 10px;
}

.stars .star {
    font-size: var(--font-sm);
    color: var(--color-gray);
}

.stars .star.active {
    color: var(--color-red);
}

.star_rating_box {
    text-align: center;
    color: var(--color-text-sub);
    padding: var(--padding-md) 0;
}

.star_rating_box p {
    margin-bottom: 10px;
    font-size: 15px;
}

.star_rating {
    display: flex;
    gap: 6px;
    cursor: pointer;
    font-size: 48px;
    justify-content: center;
}

.star_rating .star {
    color: var(--color-gray);
    transition: color 0.2s;
}

.star_rating .star.active,
.star_rating .star.hover {
    color: var(--color-red);
}

.review_writing_box {
    padding: 20px;
    border: 1px solid var(--color-gray);
    margin-bottom: var(--padding-md);
}

.review_writing_box textarea {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    font-family: 'Pretendard';
    font-size: var(--font-base);
    outline: none;
    border: none;
}

.review_writing_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 체크박스 */
.chkS1 input[type="checkbox"] {
    display: none;
}

.chkS1 label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    color: #333;
    font-family: 'Pretendard';
}

.chkS1 label::before {
    content: '\f00c';
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border: 2px solid var(--color-gray-darker);
    border-radius: 50%;
    margin-right: 8px;
    background-color: #fff;
    color: #fff;
    transition: all 0.2s ease;
}

.chkS1 input[type="checkbox"]:checked+label::before {
    content: '\f00c';
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    font-size: 11px;
}

.review_list .review_item {
    padding: var(--padding-sm) 0;
}

.review_list .review_item:not(:last-of-type) {
    border-bottom: 1px solid var(--color-gray)
}

.review_head .star {
    font-size: 12px;
}

.review_body {
    padding: 10px 0 20px;
}

.review_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_foot_left {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-base);
}

.review_writer .tag {
    font-size: 10px;
    font-weight: 400;
    background: #fff;
    border: 1px solid var(--color-gray-darker);
    color: var(--color-text-sub);
    margin-right: 10px;
}

.review_writer .writer_id {
    font-size: var(--font-sm);
    color: var(--color-text-sub);
}

.review_write_date {
    font-size: var(--font-sm);
    color: var(--color-text-sub);
    display: flex;
    gap: var(--gap-base);
}

.btn_list {
    display: flex;
}

.btn_list li:not(:first-of-type)::before {
    content:'';
    display: inline-block;
    margin: 0 5px;
    width: 2px;
    height: 2px;
    background-color: var(--color-gray-darker);
    border-radius: 50%;
    vertical-align: middle;
}

.btn_list li button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    font-size: var(--font-sm);
    color: var(--color-text-sub);
    font-family: 'Pretendard';
}