@charset "UTF-8";

.sub_box {
    display: flex;
    align-items: stretch;
    min-height: 500px;
}

.sub_left {
    width: 80%;
    padding-right: 32px;
}

.sub_right {
    width: 20%;
    border-left:1px solid var(--color-gray-light)
}


/* sub_left */
.content_box {
    padding: var(--padding-md) 0;
}

.sub_book1 {
    display: flex;
    width: 100%;
}

/* sub_book */
.sub_book_left {
    width: 204px;
}

.sub_book_img {
    height: 306px;
    background: #444;
    margin-bottom: 10px;
}

.sub_book_img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sub_book_right {
    flex: 1;
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-lg);
    align-items: flex-start;
    padding-left: 32px;
}

.sub_book_tit {
    font-size: var(--font-xl);
}

.sub_book_detail {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-base);
    align-items: flex-start;
}

.sub_txt_list {
    display: flex;
}

.sub_txt_list li {
    font-size: var(--font-sm);
    color: var(--color-text-sub);
}

.sub_txt_list li:not(:last-child):after {
    content: '|';
    display: inline-block;
    color: var(--color-gray);
    margin: 0 4px;
    font-weight: 400;
}

.sub_txt_list li a {
    font-size: inherit;
    color: inherit;
    font-weight: 600;
}

.sub_txt_list li i {
    font-size: 10px;
    vertical-align: middle;
}

.sub_txt_list li .book_star {
    color: var(--color-red);
}

.sub_book_event {
    width: 100%;
}

.sub_book_event dl {
    display: flex;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}

.sub_book_event dl dt {
    width: 12%;
    padding: 8px;
}

.tag {
    font-size: 12px;
    font-weight: 600;
    background-color: #E3E0EE;
    color: #605BAF;
    padding: 3px 5px;
    border-radius: 2px;
}

.sub_book_event dl dd {
    flex: 1;
}

.sub_book_event dl dd ul li {
    position: relative;
    border-bottom: 1px solid var(--color-gray);
    padding: 8px 20px 8px 0;
    font-weight: 700;
    font-size: var(--font-base-sub);
}

.sub_book_event dl dd ul li:last-of-type {
    border-bottom: none;
}

.sub_book_event dl dd ul li i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--color-text-light);
}

.sub_book_price {
    width: 100%;
    display: flex;
    align-items: stretch;
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);
}

.price_left {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--font-base-sub);
    font-weight: 600;
    background-color: var(--color-gray-lighter);
}

.price_right {
    flex: 1;
    padding: 10px 0;
}

.price_right dl {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    font-size: var(--font-sm);
    font-weight: 600;
}

.price_right dl dt {
    color: var(--color-text-sub);
}

.price_right dl dd.sale_price {
    color: var(--color-primary);
}

/* 버튼 */
.btns {
    display: flex;
    gap: var(--gap-base);
    width: 100%;
    padding: 10px;
}

.justify_end {
    justify-content: flex-end;
}

.btnS1 {
    font-family: 'Pretendard';
    background: white;
    border: 1px solid var(--color-gray);
    padding: 16px 18px;
    border-radius: 4px;
    font-size: var(--font-lg-sub);
    font-weight: 500;
    color: var(--color-text-sub);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    transition: 0.2s;
}

.btnS1:hover {
    border: 1px solid var(--color-text-light);
    transition: 0.2s;
}

.btnS1.wide {
    width: 100%;
    max-width: 227px;
}

.btnS1.blue {
    border: 1px solid var(--color-primary);
    color: #fff;
    background: var(--color-primary);
}

.btnS1.blue:hover {
    background: #0080f6;
    border: 1px solid #0080f6;
    transition: 0.2s;
}

.btnS2 {
    font-family: 'Pretendard';
    background: white;
    border: 1px solid var(--color-primary);
    padding: 6px 12px;
    border-radius: 20px;
    font-size: var(--font-sm);
    font-weight: 500;
    color: var(--color-primary);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btnS3 {
    font-family: 'Pretendard';
    background: #fff;
    border: 1px solid var(--color-gray-darker);
    color: var(--color-text-sub);
    padding: 6px 14px;
    border-radius: 4px;
    font-size: var(--font-sm);
    font-weight: 500;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btnS3.gray {
    background: var(--color-gray-darker);
    color: #fff;
}

/* sub_book2 */
.sub_book2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px;
    background: var(--color-gray-lighter);
    border: 1px solid var(--color-gray);
    border-radius: 5px;
    font-size: var(--font-sm);
    margin-top: var(--padding-md);
}

.sub_book2 > ul {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-base);
}

.sub_book2 dl {
    display: grid;
    grid-template-columns: 100px auto;
}

.sub_book2 dl dt {
    font-weight: 600;
}

.sub_book2 dl > dd {
    color: var(--color-text-sub);
}

.sub_book2 dl > dd > ul {
    display: flex;
}

.sub_book2 dl > dd > ul > li::before {
    content:'|';
    display: inline-block;
    margin: 0 6px;
    color: var(--color-gray);
}

.sub_book2 dl > dd > ul > li:first-child:before {
    display: none;
}

.sub_book2 dl > dd > ul > li.dis {
    color: var(--color-gray-darker);
    position: relative;
}

.diagonal-slash {
  position: relative;
  display: inline-block;
}

.sub_book2 dl > dd > ul > li.dis::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 11px;
    width: 70%;
    height: 1px;
    background-color: var(--color-gray-darker);
    transform: rotate(-45deg);
}

.sub_book2 dl > dd > ul > li.dis::before {
    color: var(--color-gray);
}

/* 텝 */
.tab_section {
    margin: 0 auto;
    position: relative;
}

.tab_see_more {
    height: 360px;
}

.tab_menu {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;
}

.tab_menu li {
    width: 50%;
    line-height: 60px;
    border: 1px solid #aaa;
    border-top: 2px solid #222;
    background-color: var(--color-gray-light);
    text-align: center;
    border-right: none;
    font-size: var(--font-lg-sub);
    font-weight: 700;
}

.tab_menu li:first-child {
    border-left: none;
}

.tab_menu li.active {
    background-color: #fff;
    border-bottom: 1px solid transparent
}

.tabcontent {
    width: 100%;
    position: absolute;
    left: 0;
    top: 60px;
    background-color: #fff;
    border-top: 1px solid #aaa;
    overflow: hidden;
    display: none;
    padding: 20px 0 0;
}

.tab_see_more .tabcontent {
    height: 300px;
    padding: 20px 0 80px;
}

.tabcontent:first-of-type {
    display: block;
}

.tabcontent .see_more_btn {
    width: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    z-index: 2;
}

.tabcontent .see_more_btn::before {
    content: '';
    display: block;
    width: 100%;
    height: 160px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff);
}

.tabcontent .see_more_btn.show::before {
    display: none;
}

.tabcontent .see_more_btn button {
    width: 100%;
    height: 60px;
    font-weight: 700;
    background: #fff;
    border: 1px solid var(--color-text-sub);
    border-radius: 4px;
    font-size: var(--font-base);
    cursor: pointer;
}

#book_author_box .tabcontent {
    height: auto;
    overflow: visible;
    padding: 20px 0 0;
}


/* content_box */
.sub_book_name {
    font-size: var(--font-lg-sub);
    font-weight: 500;
    margin-bottom: 10px;
}

.sub_author_name {
    margin-right: 10px;
}

.txt_file {
    font-size: var(--font-base-sub);
    line-height: 1.5;
}

.txt_file p {
    font-size: var(--font-base-sub) !important;
}

.txt_file p:not(:last-of-type) {
    margin-bottom: 30px;
}

.listS1 li {
    display: flex;
    gap: var(--gap-base);
    line-height: 1.5;
    font-size: var(--font-base-sub);
}

.listS1 li div {
    font-size: var(--font-base-sub);
}

.listS1 li div:first-of-type {
    font-weight: 600;
    color: var(--color-text-sub);
}

/* 슬라이드 */
.book_slide {
    position: relative;
}

.book_slide .more_btn {
    right: 0;
}

#book_slide1 {
    margin-top: var(--padding-md);
}

#book_slide1 .swiper .swiper-slide,
#book_slide2 .swiper .swiper-slide,
#book_slide3 .swiper .swiper-slide {
    display: block;
    justify-content: space-between;
}

#book_slide1 .swiper-button-next,
#book_slide1 .swiper-button-prev,
#book_slide2 .swiper-button-next,
#book_slide2 .swiper-button-prev,
#book_slide3 .swiper-button-next,
#book_slide3 .swiper-button-prev  {
    top: 100px;
}

#book_slide1 .main_title {
    font-size: var(--font-lg-sub);
}


/* 리뷰 */
.stars_result_box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid var(--color-gray);
    padding-bottom: var(--padding-sm);
}

.stars_result_left {
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.stars_result {
    font-size: 48px;
    font-weight: 600;
}

.stars_box p {
    margin-top: 10px;
    font-size:var(--font-base-sub);
    font-weight: 600;
}

.stars .star {
    font-size: var(--font-sm);
    color: var(--color-gray);
}

.stars .star.active {
    color: var(--color-red);
}

.stars_result_right p {
    color: var(--color-text-sub);
    font-size: var(--font-base-sub);
}

.stars_result_right button {
    font-family: 'Pretendard';
    color: var(--color-text-sub);
    font-size: var(--font-base-sub);
    background: none;
    border: none;
    outline: none;
}

.stars_result_right button i {
    font-size: 13px;
}

.star_rating_box {
    text-align: center;
    color: var(--color-text-sub);
    padding: var(--padding-md) 0;
}

.star_rating_box p {
    margin-bottom: 10px;
    font-size: var(--font-base-sub);
}

.star_rating {
    display: flex;
    gap: 6px;
    cursor: pointer;
    font-size: 48px;
    justify-content: center;
}

.star_rating .star {
    color: var(--color-gray);
    transition: color 0.2s;
}

.star_rating .star.active,
.star_rating .star.hover {
    color: var(--color-red);
}

.review_writing_box {
    padding: 20px;
    border: 1px solid var(--color-gray);
    margin-bottom: var(--padding-md);
}

.review_writing_box textarea {
    width: 100%;
    height: 90px;
    border-radius: 5px;
    font-family: 'Pretendard';
    font-size: var(--font-base-sub);
    outline: none;
    border: none;
    line-height: 1.5;
}

.review_writing_btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 체크박스 */
.chkS1 input[type="checkbox"] {
    display: none;
}

.chkS1 label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    font-size: var(--font-base-sub);
    color: #333;
    font-family: 'Pretendard';
}

.chkS1 label::before {
    content: '\f00c';
    font-family: "Font Awesome 6 Free";
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-gray-darker);
    border-radius: 50%;
    margin-right: 6px;
    background-color: #fff;
    color: transparent;
    font-size: 9px;
    transition: all 0.2s ease;
}

.chkS1 input[type="checkbox"]:checked+label::before {
    font-weight: 900;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    color: #fff;
}

.review_sort {
    display: flex;
    gap: var(--gap-base);
    align-items: center;
    justify-content: flex-start;
    margin-bottom: var(--padding-sm);
}

.review_sort button {
    font-family: 'Pretendard';
    background: var(--color-gray-light);
    border: 1px solid var(--color-gray-light);
    padding: 8px 12px;
    border-radius: 20px;
    font-size: var(--font-base);
    font-weight: 500;
    color: var(--color-text-sub);
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.review_sort button.active {
    color: #fff;
    background: var(--color-text-main);
    border: 1px solid var(--color-text-main);
}

.review_list .review_item {
    padding: var(--padding-sm) 0;
}

.review_list .review_item:not(:last-of-type) {
    border-bottom: 1px solid var(--color-gray)
}

.review_head .star {
    font-size: 12px;
}

.review_body {
    padding: 20px 0;
    font-size: var(--font-base-sub);
}

.review_body p {
    height: 90px;
    overflow: hidden;
    line-height: 1.5;
    font-size: var(--font-base-sub) !important;
}

.review_more_btn {
    padding: 10px 0 0;
    background-color: #fff;
    width: 100%;
}

.review_more_btn button {
    background: none;
    border: none;
    outline: none;
    font-weight: 600;
    color: var(--color-text-light);
    font-size: var(--font-base-sub);
    font-family: 'Pretendard';
    cursor: pointer;
    
}

.review_more_btn button i {
    font-size: 11px;
    vertical-align: middle;
    
}

.review_foot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.review_foot_left {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-base);
}

.review_writer .tag {
    font-size: 10px;
    font-weight: 400;
    background: #fff;
    border: 1px solid var(--color-gray-darker);
    color: var(--color-text-sub);
    margin-right: 10px;
}

.review_writer .writer_id {
    font-size: var(--font-sm);
    color: var(--color-text-sub);
}

.review_write_date {
    font-size: var(--font-sm);
    color: var(--color-text-sub);
    display: flex;
    gap: var(--gap-base);
}

.btn_list {
    display: flex;
}

.btn_list li:not(:first-of-type)::before {
    content:'';
    display: inline-block;
    margin: 0 5px;
    width: 2px;
    height: 2px;
    background-color: var(--color-gray-darker);
    border-radius: 50%;
    vertical-align: middle;
}

.btn_list li button {
    background: none;
    outline: none;
    border: none;
    padding: 0;
    font-size: var(--font-sm);
    color: var(--color-text-sub);
    font-family: 'Pretendard';
    cursor: pointer;
}


/* sub_right */
#ranking {
    padding: var(--padding-md) 0 var(--padding-md) 30px;
}
#ranking h3 {
    font-size: var(--font-sm);
    font-weight: 700;
    margin-bottom: 16px;
}

#ranking h3 i {
    font-size: 11px;
    vertical-align: middle;
}

.ranking_list {
    display: flex;
    flex-direction: column;
    row-gap: var(--gap-base);
}

.ranking_list li {
    font-size: var(--font-sm);
    display: flex;
    gap: var(--gap-base);
}

.ranking_list li > span {
    color: var(--color-red);
    font-weight: 700;
}

.ranking_list li > a {
    font-size: inherit;
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex: 1;
}


/* modal */
.modal {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    z-index: 99;
    display: none;
}

.modal.active {
    display: block;
}

.modal .modal_con {
    width:900px;
    height: 90vh;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: #fff;
    display: flex;
}

.modal .modal_con .modal_con_left {
    width:70%;
    display: flex;
    flex-direction: column;
}

.modal .modal_con .modal_con_right {
    width:30%;
    background: var(--color-gray-light);
    border-left:1px solid var(--color-gray);
}

.modal_head {
    display: flex;
    justify-content: space-between;
    border-bottom:1px solid var(--color-gray);
    padding: 10px 20px;
}

.goback {
    font-family: 'Pretendard';
    background: none;
    border: none;
    outline: none;
    font-size: var(--font-base);
    transition: 0.2s;
    font-weight: 600;
    cursor: pointer;
}
.goback i {
    font-size: var(--font-sm);
    margin-right: 5px;
    color: var(--color-text-light);
    transition: 0.2s;
}

.goback:hover,
.goback:hover i {
    color: var(--color-primary);
    transition: 0.2s;
}

.font-btns {
    display: flex;
}

.font-btn {
    font-family: 'Pretendard';
    padding: 4px;
    background-color: #fff;
    border: 1px solid var(--color-text-light);
    font-weight: bold;
    width: 44px;
    height: 29px;
    color: var(--color-text-sub);
    cursor: pointer;
    outline: none;
}

.font-btn:first-of-type {
    border-radius: 4px 0 0 4px;
}


.font-btn:last-of-type {
    border-radius: 0 4px 4px 0;
}

.font-btn span {
    font-size:var(--font-base);
    margin-right:4px;
}

.font-btn.des_btn span {
    font-size:var(--font-sm);
}

.font-btn i {
    font-size:12px;
    vertical-align: 1px;
}

.font-btn:disabled {
    background-color: var(--color-gray);
    color: var(--color-text-light);
    cursor: not-allowed;
}

.modal_body {
    flex: 1;
    height: 450px;
    overflow-y: auto;
    position: relative;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -ms-overflow-style: none; /* IE와 Edge */
    scrollbar-width: none;    /* 파이어폭스 */
}

/* 크롬, 사파리, 엣지(Chromium) */
.modal_body::-webkit-scrollbar {
    display: none;
}

.page_prev,
.page_next {
    position: fixed;
    top: 50%;
    left:10px;
    right:auto;
    transform: translateY(-50%);
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: var(--font-base);
    transition: 0.2s;
    color: var(--color-text-light);
}

.page_next {
    right:calc(30% + 10px);
    left:auto;
}

.page_prev:disabled,
.page_next:disabled {
    color:var(--color-gray);
    transition: 0.2s;
}

.page_prev:not(:disabled):hover,
.page_next:not(:disabled):hover {
    color: var(--color-primary);
    transition: 0.2s;
} 

.page-section {
    height: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 20px 30px;
    border-bottom: 1px solid #e2e8f0;
}

.book-content {
    max-width: 600px;
    text-align: left;
    line-height: 1.8;
    transition: font-size 0.3s ease;
}

.book-content h2 {
    font-size: 1.3em;
    color: #718096;
    margin-bottom: 15px;
}

.book-content p {
    margin: 0 0 15px 0;
}

.modal_foot {
    padding: 10px 30px;
    display: flex;
    justify-content: center;
    border-top:1px solid var(--color-gray)
}

.page_controller {
    width:100%;
}

.page_controller > span {
    font-size:var(--font-sm);
    color: var(--color-text-sub);
    margin-bottom:5px;
    display: block;
}

#rangeSlider {
    width:100%;
}

.modal_con_right nav .modal_nav_tit {
    font-size: var(--font-base);
    padding:15px 20px;
    border-bottom:1px solid var(--color-gray);
    color: var(--color-text-sub);
    font-weight: 600;
}

.modal_con_right nav button {
    font-family: 'Pretendard';
    outline: none;
    border:none;
    width:100%;
    background:none;
    text-align: left;
    padding: 15px 20px;
    font-size: var(--font-sm);
    font-weight: 600;
    cursor: pointer;
    transition: 0.2s;
}

.modal_con_right nav button:hover,
.modal_con_right nav button.active {
    background: var(--color-gray);
    transition: 0.2s;
}

/* 스크롤바 */
.range_wrapper {
    padding: 6px 62px;
    overflow: hidden;
    position: relative;
    height: 2px;
}

.range_wrapper #rangeSlider {
    display: block;
    position: absolute;
    top: 5px;
    left: -4px;
    width: calc(100% + 9px);
    height: 2px;
    border: none;
    border-radius: 0;
    background: transparent;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer
}

.range_wrapper #rangeSlider::-webkit-slider-thumb {
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    border: 5px solid transparent;
    border-radius: 18px;
    background: #a1afbb;
    background-clip: content-box;
    -moz-appearance: none;
    appearance: none;
    -webkit-appearance: none;
    transition: background .45s
}

.range_wrapper #rangeSlider::-moz-range-thumb {
    box-sizing: content-box;
    width: 8px;
    height: 8px;
    border: 5px solid transparent;
    border-radius: 18px;
    background: #a1afbb;
    background-clip: content-box
}